node_modules/
logs/
*.log
*.log.*
.env
.env.*
prisma/.env
mock_sounds/*
!mock_sounds/.gitkeep
build/
dist/
coverage/
.idea/
.history/
*.iml
*.tmp
*.temp
*.swp
*.bak
*.pid
*.seed
*.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
